<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <fieldset>
                <h1>Update Account</h1>

                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username and password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <form th:action="@{/accountupdate}" th:object="${registration}" method="post">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-lg"
                               placeholder="name" required="true" autofocus="true" th:field="*{name}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" id="email" class="form-control input-lg"
                               placeholder="email" required="true" autofocus="true" th:field="*{email}"/>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName" required="true" autofocus="true" th:field="*{userName}"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true" th:field="*{password}"/>
                    </div>

                    <div class="form-group">
                        <img src="getCaptcha.jpg" id="captcha"/>

                        <a href="#" onclick="document.getElementById('captcha').src='getCaptcha.jpg'">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>

                        <input type="text" name="captcha" th:field="*{captcha}"/>
                        <td th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}">Captcha
                            Error</td>
                    </div>



                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign Up"/>
                            Registered Already? <a th:href="@{/login}">Login Here</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </form>
            </fieldset>

        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>